<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" name="viewport">
  <title>MobileWe-Search</title>
  
  <!-- css -->
  <link href="../css/base.css" rel="stylesheet">
  <link href="../css/project.css" rel="stylesheet">
  <!--carousel-->
  <link rel="stylesheet" type="text/css" href="../css/carousel.css">
  <link rel="stylesheet" type="text/css" href="../css/fonts/font-awesome/css/font-awesome.css">
    <!--hover effect-->
  <link rel="stylesheet" type="text/css" href="../css/eHover.css">
  <!-- ... -->
</head>
<body class="page-red">
  <header class="header header-transparent header-waterfall ui-header">
    <ul class="nav nav-list pull-left">
      <li>
        <a data-toggle="menu" href="#ui_menu">
          <span class="icon icon-lg">menu</span>
        </a>
      </li>
    </ul>
    <a class="header-logo margin-left-no" href="/">We-Search</a>
    
    <!--<ul class="nav nav-list pull-right">
      <li class="dropdown margin-right">
        <a class="dropdown-toggle padding-left-no padding-right-no" data-toggle="dropdown">
          <span class="access-hide">John Smith</span>
          <span class="avatar avatar-sm"><img alt="alt text for John Smith avatar" src="../images/users/avatar-001.jpg"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <a class="padding-right-lg waves-attach" href="javascript:void(0)"><span class="icon icon-lg margin-right">account_box</span>login</a>
          </li>
       </ul>
      </li>
    </ul>-->
  </header>
  <nav aria-hidden="true" class="menu" id="ui_menu" tabindex="-1">
    <div class="menu-scroll">
      <div class="menu-content">
        <a class="menu-logo" href="/">We-Search</a>
        <ul class="nav">
          <li>
            <a class="collaosed waves-attach" data-toggle="collapse" href="#ui_menu_components">Calle</a>
          </li>
          <li>
            <a class="collapsed waves-attach" data-toggle="collapse" href="#ui_menu_extras">Entretenimiento</a>
          </li>
          <li>
            <a class="collapsed waves-attach" data-toggle="collapse" href="#ui_menu_javascript">Ocio</a>
          </li>
          <li>
            <a class="collapsed waves-attach" data-toggle="collapse" href="#ui_menu_samples">Cultura</a>
          </li>
          <li>
            <a class="collapsed waves-attach" data-toggle="collapse" href="/rutas">Cómo llegar</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <main class="content">
    <div class="content-header ui-content-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
            <h1 class="content-heading"></h1> 
          </div>
        </div>
      </div>
    </div>
    
    <div class="container">

    <!--Cntenido de la vista-->
    
    <% Establishment.forEach(function(Establishment) { %>
              <div class="card">
                <aside class="card-side card-side-img pull-left">
                  <img class="list-logo" alt="alt text" src="../images/category/<%= Establishment.idcategory%>/<%= Establishment._id%>/2.jpg">
                </aside>
                <div class="card-main">
                  <div class="card-inner">
                  <a class="establishment-name" href="/establecimiento/<%= Establishment._id%>"><p class="card-heading"><%= Establishment.name%></p></a>
                     <div id="rank">
                        <div id="burst-8"></div><p id="ranking">   <%= Establishment.score%></p>      
                      </div>
                    <p class="margin-bottom-lg">
                     
                    </p>
                  </div>
                </div>
              </div>
            <% }) %>
    </div>

  </main>
  <footer class="ui-footer">
    <div class="container">
      <strong>&copy; 2016 <a href="">We-nnova</a> - Todos los derechos reservados</strong>
    </div>
  </footer>
  <div class="fbtn-container">
    <div class="fbtn-inner">
      <a class="fbtn fbtn-lg fbtn-brand-accent waves-attach waves-circle waves-light" data-toggle="dropdown"><span class="fbtn-text fbtn-text-left">Links</span><span class="fbtn-ori icon">apps</span><span class="fbtn-sub icon">close</span></a>
      <div class="fbtn-dropup">
        <a class="fbtn waves-attach waves-circle" href="#" target="_blank"><span class="fbtn-text fbtn-text-left">Fork me on GitHub</span><span class="icon">code</span></a>
        <a class="fbtn fbtn-brand waves-attach waves-circle waves-light" href="#" target="_blank"><span class="fbtn-text fbtn-text-left">Follow Daemon on Twitter</span><span class="icon">share</span></a>
        <a class="fbtn fbtn-green waves-attach waves-circle" href="#" target="_blank"><span class="fbtn-text fbtn-text-left">Visit Daemon Website</span><span class="icon">link</span></a>
      </div>
    </div>
  </div>

  <!-- js -->
  <script src="../js/jquery.min.js"></script>
  <script src="../js/base.min.js"></script>
  <script src="../js/project.min.js"></script>
 </body>
</html>